Demodata/results/as_rcl_CalculateWeights.cpg
Demodata/results/as_rcl_CalculateWeights.dbf.xml
Demodata/results/as_rcl_CalculateWeights.dbf
Toolbox/scripts/sdmlr.bat
*.lock
work/ArcSDM.aprx
work
work/*
Toolbox/arcsdm/__pycache__
Toolbox/arcsdm/__pycache__/*
*.pyc
data
data/*
*.idea/*

Toolbox/arcsdm/DEBUG
